
@media only screen and (max-width: 37.4em) {


body {
  	font-size: 14px;
  	font-family: Arial, Helvetica, sans-serif;
}

header, nav, main, footer {
  	max-width: 565px;
}

section.forecast { 
	display:none; 
}


picture {
	margin: 0 0 .2rem 2%; width:96%;
}


header {
	font-family: 'Bowlby One SC', cursive;
/*font-family: Impact, Charcoal, sans-serif;*/
	margin: 0 0 .2rem 2%; width:96%; 
	text-shadow: 1.5px 1.5px 2.5px gray;
}
header h1 {
	font-family: Impact, Charcoal, sans-serif;
	margin: 0 0 .2rem 2%; width:96%;

}
header h2 {
	margin: 0 0 .2rem 2%; width:96%; 
	font-size: 18px;
}

header img {
	float: left;
	margin: 0 0 .2rem 2%; width:16%; 
}
header .subheading {
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 .2rem 2%; width:96%; 
}

picture img {
 
}
 
main {
text-align: center;
	margin: 0 0 .2rem 2%; width:96%; 
}
main h2 {
font-family: Impact, Charcoal, sans-serif;
	margin: 0 0 .2rem 2%; width:96%;
}
main figure { 
	margin: 0 0 .2rem 2%; width:96%; 
}
main figure img {
	margin: 0 0 .2rem 2%; width:96%; 
}


.gallerytitle {
    	color: #000000;
    	font-size: 38px;
    	text-shadow: 1.5px 1.5px 2.5px gray;
    	margin-top: 35px;
    	margin-left: 35px;
    	margin-bottom: 5px;
}

div.gallery {
	padding: 0 0;
	display: grid;
  	grid-template-columns: repeat(1, 100%);
}
div.gallery figure {
	margin: 2rem 0; 
	border: 1px solid #aaa;
}
div.gallery figure img {
	width: 100%;
   	margin-left: auto;
    	margin-right: auto;
    	}
div.gallery figure imagetext {
	text-align: center; 
	font-size: .8rem;
}

div.gallery figure:hover {
	box-shadow: 9px 9px 11px gray;
	}


article { 
	margin: 0 0 .2rem 2%; width:96%; 
}


article h3{ 
        text-align: center;
	margin: 0 0 .2rem 2%; width:96%; 
}

article p { 
        text-align: left;
	margin: 0 0 .2rem 2%; width:96%; 
}



main picture {
	margin:auto; width:33%; 
	float: right;
}

span {
	margin:auto; width:33%; 
	float: left;
}

footer {
	margin: 0 0 .2rem 2%; width:96%; 
	background-color: #999;
}

 
.contact {
   	text-align: center;
   	background-color: #555;
}

.footer-bar {
   	text-align: center;
   	background-color: #999;
   	display: flex;
}

.current {
   	display: flex;
}



nav ul {
    	border: 1px solid #555;
    	list-style-type: none;
    	margin: auto;
    	padding: 0;
    	width: 96%;
    	background-color: #999;
}

nav li a {
    	display: flex;
    	flex-direction: column;
    	color: #000;
    	padding: 8px 16px;
    	color: white;
    	border-bottom: 1px solid #555;
    	text-align: center;
}

nav li a.active {
    	background-color: #4CAF50;
    	color: white;
}

nav li a:hover:not(.active) {
    	background-color: #66b3ba;
    	color: white;
}



table, td, th {
    	border: 1px solid black;
}

table {
    	border-collapse: collapse;
    	width: 100%;
}

th {
    	height: 50px;
}







* {margin:0}
 
h1 { 
	margin-left: .75rem;	padding: .5rem; 
}
.hamburger { 
    	justify-content: right;
	position: absolute;
	top: 2.0rem;
	right: .25rem; 
}

.navigation { 
	list-style: none; padding-left: 0; 
	width: auto;

}
.navigation li { 
	display: none; 
}

@media only screen and (max-width: 37.4em) {
	.navigation.responsive { 
	position: relative; 
	}
	.navigation.responsive li { 
	background-color: #66b3ba;	
	display: flex;
	justify-content: center;
	width: 100%; 
	margin: 1px 0;	
	border: 1px solid #ddd; 
	}
	.navigation.responsive li a {	
	padding: .5rem; 
	text-align: center;	
	display: flex;
  	justify-content: center; 
  	flex-basis: 100%;
	}
	.navigation.responsive li a:hover { 
	background-color: #42cafd; 
	}
}


@media only screen and (min-width: 37.4em) {
	header,	nav {	
	margin: 0 auto;	
	max-width: 600px;	
	}
	h1 { 
	text-align: center; 
	}
	.hamburger { 
	display: none;	
	}
	.navigation {	
	background-color: #333;	
	overflow: hidden;	
	text-align: center;	
	}
	.navigation li { 
	display: inline-block; 
	margin-left: .25rem; 
	}
	.navigation a {	
	display: block;	
	color: #eee;	
	padding: .5rem;	
	text-align: center;	
	}
	.navigation a:hover {	
	color: #000; background-color: #777;	
	}
}




 
  
  #ratingvalue{
  position: absolute;
  }
   
  
  .Titletext {
      text-align: center;
      text-shadow: 2px 2px 4px black;
      color: #f6efa6;
      font-size: 54px;
      margin-top: 35px;
      margin-left: 40px;
      margin-bottom: 5px;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  form#stormdata {
      margin: 1em 3%;
  }
  fieldset {
      background-color: white;
      margin: 1.5em 0;
      width: 100%;
      border-radius: 25px;
      border: #66b3ba solid 3px;
  }
  legend {
      border: grey solid 2px;
      margin-left: 5%;
      padding: .5em;
      background-color: #42cafd;
      color: white;
      font-size: 1em;
      border-radius: 25px;
      font-family: Arial, Helvetica, sans-serif;
      }
  label {
       
      margin: .5em;
  }
  label span {
      display: flex;
      padding-top: .5em;
      padding-bottom: .3em;
      color: #143E7F;
      font-size: 1.25em;
  }
  
  .sdate {
  display: block;
      margin-bottom: .1em;
      margin-left: .7em;
  }
  
  .info {
  display: flex;
      margin-left: .7em;
  }
  
  .storminfo {
  display: block;
      margin-left: .7em;
      margin-bottom: .5em;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  input.submitBtn {
      -webkit-appearance: none;
      width: 35%;
      margin: .5em 0;
      border: solid 3px grey;
      font-size: 1.22em;
      font-family: Arial, Helvetica, sans-serif;
      padding: .5em;
      background: #42cafd;
      box-shadow: 5px 5px 12px black;
      color: white;
      text-shadow: 2px 2px 5px black;
  }
  
   input.submitBtn:hover {
  		box-shadow: 3px 3px 9px rgba(0,2,2,1);
  	}
  
  
  
  
  .stinfo {
      font-family: Arial, Helvetica, sans-serif;
      Color: #15aadc;
      margin-bottom: .5em;
      margin-left: .7em;
      
 }
 

section {
	padding: 0 0;
	display: grid;
  	grid-template-columns: repeat(1, 96%);
}
section article {
	margin: .5rem 0; 
	border: 1px solid #aaa;
}
section article img {
	width: 100%;
   	margin-left: auto;
    	margin-right: auto;
    	}
section article imagetext {
text-align: center; 
font-size: .8rem;
}

section article:hover {
		box-shadow: 9px 9px 11px gray;
	}
    
  
  }




}