
@media only screen and (max-width: 37.4em) {


body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

header, nav, main, footer {
  max-width: 400px;
}

section.forecast { display:none; }

toppicture {
	margin: 0 0 .2rem 2%; width:96%;
}

header {
font-family: Impact, Charcoal, sans-serif;
margin: 0 0 .2rem 2%; width:96%; 
}
header h1 {
font-family: Impact, Charcoal, sans-serif;
margin: 0 0 .2rem 2%; width:96%; 
}
header h2 {
margin: 0 0 .2rem 2%; width:96%; 
}

header img {
float: left;
margin: 0 0 .2rem 2%; width:16%; 
}
header .subheading {
text-align: right;
font-family: Arial, Helvetica, sans-serif;
margin: 0 0 .2rem 2%; width:96%; 
}

 
main {
text-align: center;
margin: 0 0 .2rem 2%; width:96%; 
}
main h2 {
font-family: Impact, Charcoal, sans-serif;
	margin: 0 0 .2rem 2%; width:96%;
}
main figure { 
	margin: 0 0 .2rem 2%; width:96%; 
}
main figure img {
	margin: 0 0 .2rem 2%; width:96%; 
}

article { 
        text-align: left;
	margin: 0 0 .2rem 2%; width:96%; 
}

picture {
	margin:auto; width:33%; 
	float: right;
}

span {
	margin:auto; width:33%; 
	float: left;
}

footer {
	margin: 0 0 .2rem 2%; width:96%; 
	background-color: #999;
}

 
.contact {
   text-align: center;
   background-color: #555;
}

.footer-bar {
   text-align: center;
   background-color: #999;
   display: flex;
}

.current {
   display: flex;
}



ul {
    border: 1px solid #555;
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 96%;
    background-color: #999;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #555;
    text-align: center;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #111;
    color: white;
}



table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}




}