@media only screen and (min-width: 37.5em) {


    
 header, nav, main, footer { 
  max-width: 800px; 
}   

main figure { margin: 0 0 .2rem 2%; width:96%; }
article { margin: 0 0 .2rem 2%; width:96%; }
picture { margin: 0 0 .2rem 2%; width:33%; }
    
    body {
      font-size: 28px;
      font-family: Arial, Helvetica, sans-serif;
  }
  


header {
font-family: Impact, Charcoal, sans-serif;
margin: 0 0 .2rem 2%; width:96%; 
}
header h1 {
font-family: Impact, Charcoal, sans-serif;
margin: 0 0 .2rem 2%; width:96%; 
}
header h2 {
font-family: Arial, Helvetica, sans-serif;
margin: 0 0 .2rem 2%; width:96%; 
}

header img {
float: left;
margin: 0 0 .2rem 2%; width:16%; 
}
header .subheading {
text-align: right;
font-family: Arial, Helvetica, sans-serif;
margin: 0 0 .2rem 2%; width:96%; 
}

 
main {
margin: 0 0 .2rem 2%; width:96%;
}
main h2 {
text-align: center;
font-family: Impact, Charcoal, sans-serif;
margin: 0 0 .2rem 2%; width:96%;
}
main h3 {
text-align: center;
margin: 0 0 .2rem 2%; width:96%;
}
main p {
text-align: center;
margin: 0 0 .2rem 2%; width:96%;
}

main figure { margin: 0 0 .2rem 2%; width:96%; 
}
main figure img {margin: 0 0 .2rem 2%; width:96%; 
}

article { 
	margin: 0 0 .2rem 2%; width:96%; 
}


article h3{ 
        text-align: center;
	margin: 0 0 .2rem 2%; width:96%; 
}

article p { 
        text-align: left;
	margin: 0 0 .2rem 2%; width:96%; 
}

picture {
	margin:auto; width:33%; 
	float: right;
}

span {
	margin:auto; width:33%; 
	float: left;
}

footer {
	margin: 0 0 .2rem 2%; width:96%; 
	background-color: #999;
}

 
.contact {
   text-align: center;
   background-color: #555;
}

.footer-bar {
   text-align: center;
   background-color: #999;
   display: flex;
}

.current {
   display: flex;
}  
  
  
  ul {
      border: 1px solid #555;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #999;
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 0;
  }
  
  li {
      float: left;
      border-right:1px solid #555;
  }
  
  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
       
  }
  
  li a:hover {
      background-color: #111;
  }
  
  .active {
      background-color: #4CAF50;
}


table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}


    

  }
  
 